@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Roboto:ital,wght@1,500;1,900&display=swap');

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.site-inteiro{
background-color: rgba(0, 0, 0, 0.5);
min-height: 100vh;
font-family: Roboto;
    
}
.desenvolvedor{
text-align: center;
padding-top: 265px;
font-size: 24px;
color: white;


}

.Marcio{
text-align: center;
padding-top: 18px;
font-size: 80px;
color: white

}

.WEB{
    text-align: center;
    padding-top: 10px;
    font-size: 24px;
    color: white;

}

.Projetos-no-github{
    text-align: center;
    padding-top: 55px;
    font-size: 26px;
    color: white;


}

.click-imagem{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: white;

}

.fundo{
    background-image: url('imagem/foto3.jpg');
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
   
}

.foto{
    
    min-height: 100vh;
    padding-top: 200px;
}

.fundos{
   padding-top: 100px;
    
}

.imagem-link{
    width: 430px;
    
}